<?xml version="1.0"?>
<config>
	<modules>
		<EasyPay_EasyPay>
			<version>1.0.0.0</version>
		</EasyPay_EasyPay>
	</modules>
	<global>
		<models>
			<easypay>
				<class>EasyPay_EasyPay_Model</class>
			</easypay>
		</models>
		<blocks>
			<easypay>
				<class>EasyPay_EasyPay_Block</class>
			</easypay>
		</blocks>
		
		<helpers>
			<easypay>
				<class>EasyPay_EasyPay_Helper</class>
			</easypay>
		</helpers>
	</global>
	<frontend>
		<routers>
			<easypay>
				<use>standard</use>
				<args>
					<module>EasyPay_EasyPay</module>
					<frontName>easypay</frontName>
				</args>
			</easypay>
		</routers>
	</frontend>
	<default>
		<payment>
			<easypay_redirect>
				<payment_action>Authorization</payment_action>
				<model>easypay/redirect</model>
				<title>EasyPay</title>
				<active>1</active> 
				<title>EasyPay</title>
				<expires_easypay>2</expires_easypay>
				<debug_easypay>0</debug_easypay>
				<allowspecific>0</allowspecific>
			</easypay_redirect>
		</payment>
	</default>
</config>
