<?xml version="1.0"?>
<config>
	<modules>
		<EasyPay_Erip>
			<version>1.0.0.0</version>
		</EasyPay_Erip>
	</modules>
	<global>
		<models>
			<erip>
				<class>EasyPay_Erip_Model</class>
			</erip>
		</models>
		<blocks>
			<erip>
				<class>EasyPay_Erip_Block</class>
			</erip>
		</blocks>
		
		<helpers>
			<erip>
				<class>EasyPay_Erip_Helper</class>
			</erip>
		</helpers>
	</global>
	<frontend>
		<routers>
			<erip>
				<use>standard</use>
				<args>
					<module>EasyPay_Erip</module>
					<frontName>erip</frontName>
				</args>
			</erip>
		</routers>
	</frontend>
	<default>
		<payment>
			<erip_redirect>
				<payment_action>Authorization</payment_action>
				<model>erip/redirect</model>
				<title>Erip</title>
				<active>1</active> 
				<title>Erip</title>
				<expires_erip>2</expires_erip>
				<allowspecific>0</allowspecific>
			</erip_redirect>
		</payment>
	</default>
</config>
